<h1 style="color:blue">Csík Ákos IEX9NE - IPAR 4.0 beadandó feladat</h1>
Feladat - Aktuális és Elmúlt havi FC összehasonlítás

1. Lépés
Beolvastatom a két excelt mely tartalmazza a következő 12 hónap igényeit. Ehhez importálom az exceleket egyenként, majd ellenőrzésképpen megjelenítem az első 3 sorát.

In [6]:
import pandas as pd
import numpy as np

In [7]:
pd.__version__

'1.5.3'

In [8]:
FCPrev = pd.read_excel('AFC23_3+9.xlsx')

In [9]:
FCPrev.head(3)

,EKS,Artikel,Április,Május,Június,Július,Augusztus,Szeptember,Október,November,December,Január,Február,Március,Prio,Supplier 2
0,10111,M-1010,0,0,0,10000,10000,10000,100000,50000,0,0,0,0,Yes,NaN
1,10112,M-1011,0,0,0,10000,10000,10000,100000,50000,0,0,0,0,No,NaN
2,10113,M-1012,0,0,0,10000,10000,10000,100000,50000,0,0,0,0,Yes,NaN

In [10]:
FCCurrent = pd.read_excel('AFC23_4+8.xlsx')

In [11]:
FCCurrent.head(10)

,EKS,Artikel,Május,Június,Július,Augusztus,Szeptember,Október,November,December,Január,Február,Március,Április
0,10111,M-1010,0,0,0,10000,10000,10000,100000,50000,0,0,0,0
1,10112,M-1011,0,0,0,10000,10000,10000,100000,50000,0,0,0,0
2,10113,M-1012,0,0,0,10000,10000,10000,100000,50000,0,0,0,0
3,10114,M-1013,0,0,0,10000,10000,10000,100000,50000,0,0,0,0
4,10115,M-1014,0,0,0,10000,10000,10000,100000,50000,0,0,0,0
5,10116,M-1015,0,40,40,0,40,40,0,40,40,0,40,40
6,10117,M-1016,0,40,40,0,40,40,0,40,40,0,40,40
7,10118,M-1017,0,40,40,0,40,40,0,40,40,0,40,40
8,10119,M-1018,0,40,40,0,40,40,0,40,40,0,40,40
9,10120,M-1019,0,0,0,10000,10000,0,0,0,0,0,0,0

2. Lépés
Minden sor egy terméket jelent. Most soronként (cikkenként) a következő 12 hónap előrjelzését összeadom, és kiegészítem az adatbázisamat ezen értékekkel az utolsó sorban. Az oszlopot Összegnek nevezem el.

In [12]:

FCCurrentlist = ['Május','Június','Július','Augusztus','Szeptember','Október','November','December','Január','Február','Március','Április']
FCCurrent['Összeg'] = FCCurrent[FCCurrentlist].sum(axis=1)
FCCurrent.head(30)

,EKS,Artikel,Május,Június,Július,Augusztus,Szeptember,Október,November,December,Január,Február,Március,Április,Összeg
0,10111,M-1010,0,0,0,10000,10000,10000,100000,50000,0,0,0,0,180000
1,10112,M-1011,0,0,0,10000,10000,10000,100000,50000,0,0,0,0,180000
2,10113,M-1012,0,0,0,10000,10000,10000,100000,50000,0,0,0,0,180000
3,10114,M-1013,0,0,0,10000,10000,10000,100000,50000,0,0,0,0,180000
4,10115,M-1014,0,0,0,10000,10000,10000,100000,50000,0,0,0,0,180000
5,10116,M-1015,0,40,40,0,40,40,0,40,40,0,40,40,320
6,10117,M-1016,0,40,40,0,40,40,0,40,40,0,40,40,320
7,10118,M-1017,0,40,40,0,40,40,0,40,40,0,40,40,320
8,10119,M-1018,0,40,40,0,40,40,0,40,40,0,40,40,320
9,10120,M-1019,0,0,0,10000,10000,0,0,0,0,0,0,0,20000
10,10121,M-1020,0,40,40,0,40,40,0,40,40,0,40,40,320
11,10122,M-1021,0,40,40,0,40,40,0,40,40,0,40,40,320
12,10123,M-1022,0,40,40,0,40,40,0,40,40,0,40,40,320
13,10124,M-1023,500,500,500,500,500,500,500,500,500,500,500,500,6000
14,10125,M-1024,1200,1200,1200,1200,1200,1200,1200,1200,1200,1200,1200,1200,14400
15,10126,M-1025,1200,1200,1200,1200,1200,1200,1200,1200,1200,1200,1200,1200,14400
16,10127,M-1026,1200,1200,1200,1200,1200,0,0,0,0,0,1200,1200,8400
17,10128,M-1027,1200,1200,1200,1200,1200,1200,1200,1200,1200,1200,1200,1200,14400
18,10129,M-1028,0,0,0,0,0,0,0,0,0,0,0,0,0
19,10130,M-1029,1200,1200,1200,1200,1200,1200,1200,1200,1200,1200,1200,1200,14400
20,10131,M-1030,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,120000
21,10132,M-1031,10000,20000,10000,20000,10000,20000,10000,20000,10000,20000,10000,20000,180000
22,10133,M-1032,10000,20000,10000,20000,10000,20000,10000,20000,10000,20000,10000,20000,180000
23,10134,M-1033,0,0,0,0,0,0,0,0,0,0,0,0,0
24,10135,M-1034,0,40,40,0,40,40,0,40,40,0,40,40,320
25,10136,M-1035,0,0,0,0,0,0,0,0,0,0,0,0,0
26,10137,M-1036,0,0,0,0,0,0,0,0,0,0,0,0,0
27,10138,M-1037,0,40,40,0,40,40,0,40,40,0,40,40,320
28,10139,M-1038,0,0,0,0,0,0,0,0,0,0,0,0,0
29,10140,M-1039,0,0,0,0,0,0,0,0,0,0,0,0,0

In [13]:
FCPrevlist = ['Május','Június','Július','Augusztus','Szeptember','Október','November','December','Január','Február','Március','Április']
FCPrev['Összeg'] = FCPrev[FCPrevlist].sum(axis=1)
FCPrev.head(27)

,EKS,Artikel,Április,Május,Június,Július,Augusztus,Szeptember,Október,November,December,Január,Február,Március,Prio,Supplier 2,Összeg
0,10111,M-1010,0,0,0,10000,10000,10000,100000,50000,0,0,0,0,Yes,NaN,180000
1,10112,M-1011,0,0,0,10000,10000,10000,100000,50000,0,0,0,0,No,NaN,180000
2,10113,M-1012,0,0,0,10000,10000,10000,100000,50000,0,0,0,0,Yes,NaN,180000
3,10114,M-1013,0,0,0,10000,10000,10000,100000,50000,0,0,0,0,Yes,NaN,180000
4,10115,M-1014,0,0,0,10000,10000,10000,100000,50000,0,0,0,0,Yes,NaN,180000
5,10116,M-1015,0,40,40,0,40,40,0,40,40,0,40,40,Yes,NaN,320
6,10117,M-1016,0,40,40,0,40,40,0,40,40,0,40,40,Yes,NaN,320
7,10118,M-1017,0,40,40,0,40,40,0,40,40,0,40,40,No,NaN,320
8,10119,M-1018,0,40,40,0,40,40,0,40,40,0,40,40,No,NaN,320
9,10120,M-1019,0,0,0,10000,10000,10000,100000,50000,0,0,0,0,Yes,NaN,180000
10,10121,M-1020,0,40,40,0,40,40,0,40,40,0,40,40,Yes,NaN,320
11,10122,M-1021,0,40,40,0,40,40,0,40,40,0,40,40,Yes,NaN,320
12,10123,M-1022,0,40,40,0,40,40,0,40,40,0,40,40,No,NaN,320
13,10124,M-1023,500,500,500,500,500,500,500,500,500,500,500,500,Yes,NaN,6000
14,10125,M-1024,1200,1200,1200,1200,1200,1200,1200,1200,1200,1200,1200,1200,Yes,NaN,14400
15,10126,M-1025,1200,1200,1200,1200,1200,1200,1200,1200,1200,1200,1200,1200,No,NaN,14400
16,10127,M-1026,1200,1200,1200,1200,1200,1200,1200,1200,1200,1200,1200,1200,No,NaN,14400
17,10128,M-1027,1200,1200,1200,1200,1200,1200,1200,1200,1200,1200,1200,1200,Yes,NaN,14400
18,10129,M-1028,0,0,0,0,0,0,0,0,0,0,0,0,No,NaN,0
19,10130,M-1029,1200,1200,1200,1200,1200,1200,1200,1200,1200,1200,1200,1200,Yes,NaN,14400
20,10131,M-1030,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,10000,Yes,NaN,120000
21,10132,M-1031,10000,20000,10000,20000,10000,20000,10000,20000,10000,20000,10000,20000,Yes,NaN,180000
22,10133,M-1032,10000,20000,10000,20000,10000,20000,10000,20000,10000,20000,10000,20000,Yes,NaN,180000
23,10134,M-1033,0,0,0,0,0,0,0,0,0,0,0,0,Yes,NaN,0
24,10135,M-1034,0,40,40,0,40,40,0,40,40,0,40,40,Yes,NaN,320
25,10136,M-1035,0,0,0,0,0,0,0,0,0,0,0,0,No,NaN,0
26,10137,M-1036,0,0,0,0,0,0,0,0,0,0,0,0,Yes,NaN,0

3.Lépés Létrehozok egy külön adatbázist ami tartalmazni fogja az összes cikkszámot, illetve külön oszlopba rendezve az aktuális és az előző előrejelzések adatait.

In [14]:
current_df = pd.DataFrame(FCCurrent)  
prev_df = pd.DataFrame(FCPrev)  
prev_df_subset = prev_df[['EKS']]

#Mivel a sorok nem megegyezőek a két táblázatban, össze kell fésülni azokat. Ezt merge-éssel lehet megoldani
merged_df = pd.merge(current_df, prev_df_subset, left_on='EKS', right_on='EKS')

# Az új táblázat (Összegzés) 

Összegzés_df = pd.DataFrame({
    'EKS': current_df.iloc[:, 0],
    'Name': current_df.iloc[:, 1],
    'CurrentFC': current_df.iloc[:, 14], # Mindkét táblázatban a 16. oszlop jelenti az összegzést
    'PrevFC': prev_df.iloc[:, 16]  # Mindkét táblázatban a 16. oszlop jelenti az összegzést
})

# Az új táblázat megjelenítése
Összegzés_df.head(27)

      EKS    Name  CurrentFC  PrevFC
0   10111  M-1010     180000  180000
1   10112  M-1011     180000  180000
2   10113  M-1012     180000  180000
3   10114  M-1013     180000  180000
4   10115  M-1014     180000  180000
5   10116  M-1015        320     320
6   10117  M-1016        320     320
7   10118  M-1017        320     320
8   10119  M-1018        320     320
9   10120  M-1019      20000  180000
10  10121  M-1020        320     320
11  10122  M-1021        320     320
12  10123  M-1022        320     320
13  10124  M-1023       6000    6000
14  10125  M-1024      14400   14400
15  10126  M-1025      14400   14400
16  10127  M-1026       8400   14400
17  10128  M-1027      14400   14400
18  10129  M-1028          0       0
19  10130  M-1029      14400   14400
20  10131  M-1030     120000  120000
21  10132  M-1031     180000  180000
22  10133  M-1032     180000  180000
23  10134  M-1033          0       0
24  10135  M-1034        320     320
25  10136  M-1035          0       0
26  10137  M-1036          0       0

4. Lépés
Adatok összefésülése után, a 2. lépésekben látható módszerrel. Kiegészítem az Összegzés táblát egy olyan oszloppal, ami megmutatja a különbségeket.

In [15]:

Összegzés_df['Diff'] = Összegzés_df['CurrentFC'] - Összegzés_df['PrevFC']
Összegzés_df.head(27)

      EKS    Name  CurrentFC  PrevFC    Diff
0   10111  M-1010     180000  180000       0
1   10112  M-1011     180000  180000       0
2   10113  M-1012     180000  180000       0
3   10114  M-1013     180000  180000       0
4   10115  M-1014     180000  180000       0
5   10116  M-1015        320     320       0
6   10117  M-1016        320     320       0
7   10118  M-1017        320     320       0
8   10119  M-1018        320     320       0
9   10120  M-1019      20000  180000 -160000
10  10121  M-1020        320     320       0
11  10122  M-1021        320     320       0
12  10123  M-1022        320     320       0
13  10124  M-1023       6000    6000       0
14  10125  M-1024      14400   14400       0
15  10126  M-1025      14400   14400       0
16  10127  M-1026       8400   14400   -6000
17  10128  M-1027      14400   14400       0
18  10129  M-1028          0       0       0
19  10130  M-1029      14400   14400       0
20  10131  M-1030     120000  120000       0
21  10132  M-1031     180000  180000       0
22  10133  M-1032     180000  180000       0
23  10134  M-1033          0       0       0
24  10135  M-1034        320     320       0
25  10136  M-1035          0       0       0
26  10137  M-1036          0       0       0

In [16]:
Összegzés_df = Összegzés_df.sort_values(by='Diff')
Összegzés_df.head(274)

       EKS    Name  CurrentFC  PrevFC    Diff
9    10120  M-1019      20000  180000 -160000
45   10156  M-1055      90000  180000  -90000
99   10210  M-1109     150000  180000  -30000
75   10186  M-1085     153000  180000  -27000
35   10146  M-1045       7200   14400   -7200
..     ...     ...        ...     ...     ...
105  10216  M-1115          0       0       0
106  10217  M-1116          0       0       0
108  10219  M-1118          0       0       0
92   10203  M-1102          0       0       0
267  10378  M-1277          0       0       0

[268 rows x 5 columns]

4. Lépés
Ha értékben is meg szeretném tudni, hogy melyik változott a legtöbbet.

In [21]:
Prices = pd.read_excel('Prices.xlsx') # Beolvasom a prices nevezetű excelt

In [18]:
Prices.head(3) #Kiiratom az első 3 sort ellenőrzés végett

     EKS Artikel  Price
0  10111  M-1010  0.200
1  10112  M-1011  0.500
2  10113  M-1012  0.423

In [26]:
#Hozzáadom a korábbi Összegzés_df táblához a Prices tábla Price oszlopát
Összegzés_df['Árak'] = pd.Series(Prices['Price'])
Összegzés_df.head(3)

      EKS    Name  CurrentFC  PrevFC    Diff       Árak
9   10120  M-1019      20000  180000 -160000   0.890000
45  10156  M-1055      90000  180000  -90000  11.267700
99  10210  M-1109     150000  180000  -30000   5.386181

In [29]:
#Összeszorzom egy új oszlopba az Árakat a Diff-el
Összegzés_df['Total'] = (Összegzés_df['Diff'] * Összegzés_df['Árak'] ).abs()
Összegzés_df.head(3)

      EKS    Name  CurrentFC  PrevFC    Diff       Árak         Total
9   10120  M-1019      20000  180000 -160000   0.890000  1.424000e+05
45  10156  M-1055      90000  180000  -90000  11.267700  1.014093e+06
99  10210  M-1109     150000  180000  -30000   5.386181  1.615854e+05